<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="w3-bar w3-black">
        <a href="/" class="w3-bar-item w3-button">{{.Title}}</a>
        <a href="/about" class="w3-bar-item w3-button">About</a>
        <a href="/contact" class="w3-bar-item w3-button">Contact</a>
    </div>
    <div class="w3-container w3-teal w3-center">
        <h1>{{.Title}}</h1>
        <p>{{.Site.Params.Description}}</p>
    </div>
    <footer>
        <div class="w3-container">
            <p>&copy; {{ now.Format "2006" }} {{.Site.Params.Author}} under {{.Site.Params.License}} license.</p>
        </div>
    </footer>
</body>

</html>