<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{title}}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{google_tag}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{google_tag}}');
    </script>
</head>

<body>
    <header class="w3-container w3-teal w3-center">
        <h5><a href="/">{{title}}</a></h5>
        <p>{{main_description}}</p>
    </header>
    <div class="w3-container" , style="max-width: 800px; margin:auto">
        {% block content %}{% endblock %}
    </div>
    <footer class="w3-container w3-teal w3-center">
        <p>&copy; {{author}} under {{license}} license</p>
    </footer>
    {% block javascripts %}{% endblock %}
    <script>
        function copyCommand() {
            var copyText = document.getElementById("commandToCopy").innerText;
            navigator.clipboard.writeText(copyText);
        }
    </script>
</body>

</html>