<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <header class="w3-container w3-teal">
        <h5>{{title}}</h5>
    </header>
    {% block content %}{% endblock %}
    <footer class="w3-container w3-teal">
        <p>&copy; {{author}} under {{license}} license</p>
    </footer>
    {% block javascripts %}{% endblock %}
</body>

</html>