{%extends "base.html"%}

{%block content%}

<p class="w3-padding w3-center">
    Bootstrap your C CMake project with <span class="w3-tag w3-teal"><code>embuild</code></span>!<br />
    Don't have it yet?<br />
    Install it with <span class="w3-tag w3-teal"><code id="commandToCopy">pip install -U embuild</code></span> <button
        onclick="copyCommand()"><i class="fa fa-copy"></i></button></p>

<hr />
<h2 class="w3-center">Libraries</h2>
{%for library in libraries%}
<h3><a href="/{{library}}">{{library}}</a></h3>
<hr />
{%endfor%}
{%endblock%}